main{
    & .add{
        display: block;
        width: 90%;
        font-size: 20px;
        margin-left:2em;
        max-width: 1700px;
        margin:auto;
        margin-top:2em;

    
      }
  
}